.login-box {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    color: #135EA8;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
}

.login-box h1 {
    color: #ffffff;
}

.login-input-content {
    margin: 0;
}

.login-button {
    background: #53BA50;
    color: #ffffff;
    border: 0;
    font-weight: bold;
}

.login-button:hover,
.login-button:focus {
    background: #F79122;
    color: #ffffff;
    border: 0;
}

.brand-logo {
    width: 100%;
    margin-top: 20px;
}

.menu-logo-container {
    padding: 0 0 20px 0;
    text-align: center;
    background: #ffffff;
}

.menu-logo {
    width: 80%;
    margin: 20px auto auto auto;
}

.menu-link {
    color: #ffffff;
    text-decoration: none;
}

.menu-link span {
    color: #ffffff;
    display: block;
}
